/**** TAG SELECTORS ****/

body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}


.container-fluid{

  padding: 3% 15% 7%;
}

/* Button */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */
#title{
  background-color: #ff4c68;
  color: #FFFFFF;
}



.title-image{
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}


/* Feature-Section */
#features{
  background-color: #fff;
  color: #40514e;
  padding: 7% 15%;
  position: relative;
}

.feature-icon{
 padding: 5%;
 color: #ef8172;
}
.feature-icon:hover{
  color: #ff4c68;
}

.feature-box{
  padding: 3%;
  text-align: center;
}

.feature-head{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.feature-description{
  color: #8f8f8f;
}


/* Testimonial Section */
#testimonials{
  background-color: #ff4c68;
  color: #fff;

  text-align: center;
}
.testimonial-header{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
  padding: 7% 15%;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}

.pricing-head{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.price-card-head{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Navbar Section */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{

  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.3rem;
  font-weight: 300;
}
