/**** TAG SELECTORS ****/

body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}


/* Headings */
.big-heading{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.feature-title{
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.section-heading{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}


/* Containers */
.container-fluid{
  padding: 7% 15%;
}


/* Sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}


/* Navbar Section */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{

  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.3rem;
  font-weight: 300;
}


/* Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}


/* Title Section */
#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image{
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}


/* Feature-Section */
#features{
  background-color: #fff;
  color: #40514e;
  position: relative;
}

.feature-icon{
 padding: 5%;
 color: #ef8172;
}
.feature-icon:hover{
  color: #ff4c68;
}

.feature-box{
  padding: 3%;
}

.feature-description{
  color: #8f8f8f;
  font-size: 1.3rem;
}


/* Testimonial Section */
#testimonials{
  background-color: #ef8172;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */
.pricing-column{
  padding: 3% 2%;
}

.price-card-head{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}


/* Footer Section */
.footer-icon{
  padding: 1.5%;
}

.Copyright-tag{
  margin-top: 1.5%;
  font-size: 0.75rem;
}

/* Media Queries */
@media (max-width: 1028px) {
  #title .container-fluid{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
